<div id="page_wrapper">


	<%= link_to("My Groups", {:controller => 'groups', :action => 'index', :party_id => @group.party_id}, :class => 'back-link') %>

<div class="invites new">
  <h2>Create Invitation</h2>

<%= form_for(:invite, :url => {:action => 'create', :group_id => @group.id, :host_id => @group.party.user_id, :guest_id => @invite.guest_id }) do |f| %>
 <%= render(:partial => "form", :locals => {:f => f}) %>

 <% end %>


   
</div>

