<div class="well">

  <div class="field" style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: red">

            <%= f.input :date, :label => 'Change Date & Time', wrappers: :horizontal_select_date, as: :datetime, start_year: Date.today.year,
	                              end_year: Date.today.year + 12,
	                              order: [:day, :month, :year] %>

              </div><br />






		<%= button_tag(type: 'submit', class: "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black;") do %>
		    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Date
		  <% end %>




</div>

