<div class="well">

  <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: black;">


	                              <%= f.text_field :date %>

              </div><br />






		<%= button_tag(type: 'submit', class: "btn btn-default", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px;  color: black;") do %>
		    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Date
		  <% end %>




</div>




