<div>
<fieldset>

  <%= f.text_field :date %><br /><br />
  <%= f.text_field :time, class: "timepicker" %><br /><br />
	   
   <%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Montserrat', cursive; font-size: 14px;  color: #00193a;") do %>
		    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Date&nbsp;&nbsp;/&nbsp;&nbsp;Time
		  <% end %>



</fieldset>


</div><br />




