 <% modal ||= false %>
   
   <% remote = modal ? true : false %>

    @wizard = ModelWizard.new(Party, session, params).start

    @party = @wizard.object

   <h4>New party (step <%= @party.current_step + 1 %> )</h4>

   <%= simple_form_for(:party, :html => {:multipart => true}, remote: remote, html: {role: :form, 'data-model' => 'party'},
                       :url => {:action => 'create', :user_id => current_user.id}) do |f| %>
 
        <% if params[:all].nil? %>

          <%= render 'parties/steps/current_step', f: f %>

        <% else %>

          <%= render 'parties/steps/all_steps', f: f %>

        <% end %>

      <% end %>


