<fieldset>
 <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">



           <h2>Occassion Picture / IV Card</h2><br /><%= f.file_field :picture  %>
       </div><br />

    


<%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Montserrat', cursive; font-size: 14px;  color: #00193a;" ) do %>Update Picture
  <% end %>

  </fieldset><br /><br />


