 <div class=well>



  <div class="field" style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: red">

          <%= f.input :picture, :input_html => { :wrap => :soft, :rows => 3}, :label => 'Occassion Picture / IV Card', :label_html => { :class => 'file' }  %>
       </div><br />

    


<%= button_tag(type: 'submit', class: "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black;" ) do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Picture
  <% end %>

</div>