      <div class="col-sm-6 col-md-4">
                  <div class="recent_posts_small clearfix">
                    <div class="post_item_img_small">
                      <%= image_tag(party.picture.url(:thumb), :class => "media-object") %>
                    </div>
                  
                  <div class="post_item_content_small">

                    <ul class="post_item_inf_small">
                      
                      <li><i class="fa fa-address-card fa-2x" aria-hidden="true"></i><%= link_to("INVITE GUESTS", party_path(party)) %></li>

                      <li><i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i><%= link_to("Upload Pictures", photos_path(:party_id => party.id) )%></li>

                      <li><i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i><%= link_to("Catalogue Pictures", catalogues_path(:party_id => party.id) )%></li>

                        
                      </ul>

                      
                  </div>

                  </div>
                </div>
