<div>
<fieldset>

	 <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; color: #00193a;">

	   <%= f.input :venue, :input_html => { :style=> 'width: 420px', :rows => 3}, :label => 'Change Venue:', :label_html => { :class => 'text' } %>

	</div>   <br />

		<%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Montserrat', cursive; font-size: 14px;  color: #00193a;") do %>
		    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Venue
		  <% end %>


</fieldset>



</div><br />


