
<br />
<br />
<br />
<p style="font-family: 'Oswald', serif; font-size: 22px; font-weight: italic; color: green">Nullam fugiat, sit mus arcu, lacinia ac tellus ut, in est dui justo proin velit, eu est. Tempor in, sed donec consectetuer litora consectetur cras lacinia, facilisis aliquam vel morbi, mattis eget et nam adipiscing. Hymenaeos et, nulla ligula ullamcorper quam, nullam et at. Auctor fermentum, venenatis vel, wisi suspendisse orci quis, ut felis metus.</p><br />

<br />

<br />

 <%= simple_form_for(@party, :url => {:action => 'update', :id => @party.id, :user_id => current_user.id}) do |f| %>


    <%= render(:partial => "p3form", :locals => {:f => f}) %>

 <% end %>

 <strong><%= link_to 'Back', party_path(:party_id => @party.id), :type => "button", :class => "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;" %></strong><br>