<br />
<br />
<br />
<p style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: black; font-weight: bold;">Change your Occassion Venue. </p>
<br>


 <%= simple_form_for(@party, :url => {:action => 'update', :id => @party.id, :user_id => current_user.id}) do |f| %>


    <%= render(:partial => "venue_form", :locals => {:f => f}) %>

 <% end %>

 <strong><%= link_to 'Back', party_path(:party_id => @party.id), :type => "button", :class => "btn btn-default", :style => "font-family: 'Mogra', cursive; font-size: 14px;" %></strong><br>