
<div id="msform">
<p style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: #00193a; font-weight: bold;">Change your Occassion picture. Upload you Invitation Card if you have one. </p><br />



 <%= simple_form_for(@party, :url => {:action => 'update', :id => @party.id, :user_id => current_user.id}) do |f| %>


    <%= render(:partial => "p3form", :locals => {:f => f}) %>

 <% end %>

 <strong><%= link_to 'Back', party_path(:party_id => @party.id), :type => "button", :class => "btn btn-warning", :style => "font-family: 'Montserrat', cursive; font-size: 14px; color: #00193a;" %></strong><br>

 </div>