   <% current_user.parties.each do |party| %>

   <div class="col-lg-3 centered" >


      <div class="pull-left" style="font-family: 'Julius Sans One', sans-serif;">

        <%= image_tag(party.picture.url(:large), alt: "", :weight => "40", :height => "40") %>

        <i><img src="/envelop.png", width="20" height="20" alt=""></i>&nbsp;<%= link_to("I.V", party_path(party)) %>&nbsp; &nbsp;
                                                    
            <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;<%= link_to("ALB", catalogues_path(:party_id => party.id) )%>

      </div>

      

       </div>

  <% end %>  
       


