   <% current_user.parties.each do |party| %>

   <div class="col-lg-3 centered">


      <div class="pull-left">

        <%= image_tag(party.picture.url(:large), alt: "", :weight => "40", :height => "40") %>
       

      </div>&nbsp; &nbsp;

       <div class="media-body">
          
          <p><i><img src="/envelop.png", width="20" height="20" alt=""></i>&nbsp; &nbsp;<%= link_to("I.V", party_path(party)) %><br>
                                                    
            <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp; &nbsp;<%= link_to("ALB", catalogues_path(:party_id => party.id) )%></p>
                                                  
       </div>

       </div>

  <% end %>  
       


