
   <% @parties.each do |party| %>



   <div class="col-xs-4 col-centered">


      <div class="pull-left" style="font-family: 'Julius Sans One', sans-serif;">

        <%= image_tag(party.picture.url(:large), alt: "", :weight => "40", :height => "40") %>&nbsp;&nbsp;

        <i><img src="/envelop.png", width="10" height="10" alt=""></i>&nbsp;<%= link_to("Invite Guests", party_path(party), :style => "font-family: 'Julius Sans One', sans-serif; font-size: 10px;") %><br />
                                                    
            <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;<%= link_to("Photo_Album", catalogues_path(:party_id => party.id),  :style => "font-family: 'Julius Sans One', sans-serif; font-size: 10px;" )%>

      </div>

      

       </div>

  <% end %>  

  	


