<div class="msf-container">
	        <div class="container">
	        	<div class="row">
	                <div class="col-xs-12 msf-title">


	             

	 <%= form_for(:party, :html => {:multipart => true}, :url => {:action => 'create', :user_id => current_user.id}) do |f| %>

	           <%= render(:partial => "form", :locals => {:f => f}) %>

	      		<% end %>


               </div>

            </div>


        </div>

  </div> 

