
<div class="title" style="font-family: 'Patrick Hand SC', cursive; font-size: 28px; color: black; ">We are here to Serve You!</div>
                <div class="title-description" style="font-family: 'Patrick Hand SC', cursive; font-size: 28px; color: black; ">Please contact us for any help or queries at all.</div>
                
<h1 style="font-family: 'Patrick Hand SC', cursive; font-size: 38px; color: green; ">You can also Say Hello!!!</h1><br /><br />


<div id="fh5co-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
          <div class="fh5co-spacer fh5co-spacer-sm"></div>
           <div class="row">
              <div class="col-md-6">


               <%= simple_form_for @message, url: create_message_path do |f| %>

                  <%= notice %>

                  <%= @message.errors.full_messages.join(', ') %>




                <div class="form-group">
                  <input type="text" id="message-first_name" name="message[first_name]" class="form-control" placeholder="First Name"> 
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" id="message-last_name" name="message[last_name]" class="form-control" placeholder="Last Name">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="email" id="message-email" name="message[email]" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <textarea name="message[body]" id="message-body" cols="30" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group">
                

                  <%= f.submit "Send Message", class: "btn btn-primary" %>
                </div>


                <% end %>


              </div>
            </div>
                
        </div>
            
          </div>
       </div>
  </div>

 <div class="span6">
          <div class="contact-details">
            <h3>Our Address Details</h3>
                <ul>
                    <li><a href="#">admin@baffsup.com</a></li>
                    <li>080 44 676 298</li>
                    <li>
                        Baffsup House
                        <br>
                        Somwhere Street
                        <br>
                        Maybe in V. I
                        <br>
                        Lagos
                        <br>
                        Nigeria
                    </li>
                </ul>
            </div>
        </div>