<div>
<fieldset>
	 <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: #00193a;">

          <%= f.input :image, :input_html => { :wrap => :soft, :rows => 3}, :label => 'Add your best Picture', :label_html => { :class => 'file' }  %>
     </div><br />

     <div>

		<%= button_tag(type: 'submit', class: "btn btn-primary", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: #00193a;") do %>
		    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Change Picture
		  <% end %>

		</div>  
</fieldset>
</div>