<div class="well">


	 <div class="field" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px; font-weight: bold; color: white">

          <%= f.input :image, :input_html => { :wrap => :soft, :rows => 3}, :label => 'Add your best Picture', :label_html => { :class => 'file' }  %>
     </div>

     <div>

		<%= button_tag(type: 'submit', class: "btn btn-info", :style => "font-family: 'Patrick Hand SC', cursive; font-size: 14px; color: black;") do %>
		    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Change Picture
		  <% end %>

		</div>  

</div>
