
<div class="well">

  <%= simple_form_for(@profile, :url => {:action => 'update', :id => @profile.id, :user_id => current_user.id}) do |f| %>


   <%= render(:partial => "form", :locals => {:f => f}) %>

				 
	 <% end %>

	 <strong><%= link_to 'Back', profiles_path(:profile_id => @profile.id), :type => "button", :class => "btn btn-default", :style => "font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;" %></strong><br>

</div>	 


	