<div id="page_wrapper">


    <div class="comment new">
 
			 <%= form_for(:comment, :url => {:action => 'create', :group_id => @group.id }) do |f| %>
			 <%= render(:partial => "comments/reply_form", :locals => {:f => f}) %>


 <% end %>

</div>