<div style="font-family: 'Patrick Hand SC', cursive; font-size: 34px; color: #00193a;" align="center">how it works</div><br /><br />


 <div class="container" >
                                   
    <img src="/about.png">

    </div>    