
 <% @visitors.each do |visitor| %>

         <div class="page_wrapper">

           <div style="border-bottom: 1px solid lightgrey; padding-bottom: 0.5em">


            <%= link_to("#{visitor.group.party.title} - I.V Notice ", {:action => 'show', :id => visitor.id, :group_id => visitor.group.id}, :class => 'action show') %>

                

      	   	  
              
              
         </div>


     	
    <% end %>

    <%= link_to "mYHome Page", profiles_path %>