<div class="page_wrapper">
 
<div class="notfication clearfix">
     
     
		 <div class="notification_content">


		 	   <div><%=link_to("{notification.count} - Invitation Notice", ) %> </div><br>


         <p>
          
           <b><%= notification.host.email %></b> has invited you to a <b><%= notification.invite.group.party.title %></b><br>

           <%= link_to "Accept Invitation", "" %>

           
         
        </p>

        <br>
               
     
   </div>


    
</div>

</div>
