<% @page_title = "Delete Operator" %>

<%= link_to("<< Back to List", operators_path, :class => 'back-link') %>

<div class="operators delete">
  <h2>Delete Operator</h2>

  <%= form_for(@operator, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this Operator?</p>

    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Operator") %>
    </div>

  <% end %>
</div>
