<div>

  <% flash.each do |key, value| %>

    <div>

      <a href="#" data-dismiss="alert">×</a>

        <%= value %>

    </div>
  <% end %>
</div>

<div class="container">
  <h1>Thank you for your message.</h1>
  <p>We'll get back to you soon.</p>
</div>