<div id="contact" class="well">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">

    <%= render "contacts/form" %><br>

     <%= link_to "Contact Us...", new_contact_path, :class => "btn-slide animation animated-item-3" %>
    
    <!-- Contact Form -->
 

        <div class="span6">
          <div class="contact-details">
            <h3>Our Address Details</h3>
                <ul>
                    <li><a href="#">admin@baffup.com</a></li>
                    <li>080 44 676 298</li>
                    <li>
                        Baffup House
                        <br>
                        234 Adeola-Odeku Street
                        <br>
                        Victoria-Island. 
                        <br>
                        Lagos
                        <br>
                        Nigeria
                    </li>
                </ul>
            </div>
        </div>
        


            </div>
        </div>
    </div>