
               <div class="box-4 wrap">
                      
                 <div class="fleft">

                     <div class="box-1">
									
        

           <div class="extra-wrap">
  		          <p class="text-1"><%= reservation.name %></p>
                <p class="text-2">said: <%= human_boolean(reservation.accept) %></p>
            </div>


                    <div class="comments-4">
                           
                       <div class="comments-corner"></div>
                             
                         <div class="comment-1">
                              
                            <div class="comment-2">
                                  
                                <p class="text-4"><strong class="clr-1">Vivamus sed arcu duieu tincidunt sem.</strong> Vivamus endrerit mauris ut dui gravida ut viverra lectus tincidunt. Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue.</p>
                            </div>

                        </div>
                    
                    </div>
          

          </div>


                </div>           

        
       
            <div class="clear"></div>
  
            </div>

            </div>

            </div>                        
