 <% modal ||= false %>
   <% remote = modal ? true : false %>

 <div class="container" id="team" name="team">
              
       
        <div class="col-xs-4 ">

          <%= image_tag(reservation.visitor.user.profile.image.url(:original), :class => "img-circle", :alt => "") %><br />
         
          
          <h4 style="font-family: 'Montserrat', sans-serif; font-size: 16px; color: #915b05; font-weight: bold;"><%= reservation.name %></h4>
          <p style="font-family: 'Montserrat', cursive; font-size: 14px; color: #00193a; "><%= human_boolean(reservation.accept) %></p>
        </div><!-- col-lg-3 -->
   
    

    </div><!-- container -->

