 <% modal ||= false %>
   <% remote = modal ? true : false %>

 <div class="container" id="team" name="team">
              
       
        <div class="col-xs-4 ">

          <%= image_tag(reservation.visitor.user.profile.image.url(:original), :class => "img-circle", :alt => "") %>
         
          
          <h4 style="font-family: 'Montserrat', sans-serif; font-size: 14px; color: #915b05;"><%= reservation.name %></h4>
          <a href="https://www.facebook.com/"><i class="fa fa-twitter" aria-hidden="true" style="color: #00193a;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com"><i class="fa fa-facebook" aria-hidden="true" style="color: #00193a;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true" style="color: #00193a;"></i></a>
          <p style="font-family: 'Montserrat', cursive; font-size: 12px; color: #00193a; font-weight: bold;"><%= human_boolean(reservation.accept) %></p>
        </div><!-- col-lg-3 -->
          
    

    </div><!-- container -->

