
  <div class="container" id="team" name="team">

      <h1 class="centered" style="font-family: 'Courgette', serif; font-size: 38px; font-weight: bold; color: red">Guest Reservation Lists</h1>
    <br>
      <div class="row white centered">

           <% @reservations.each do |reservation| %>
       
        <div class="col-lg-4 centered">

          <%= image_tag(reservation.visitor.user.profile.image.url(:large), :class => "img-circle", :alt => "") %>
         
          <br>
          <h4 style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black"><%= reservation.name %>s</h4>
          <a href="https://www.facebook.com"><i class="fa fa-twitter" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a><br /><br />
          <p style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black">said: <%= human_boolean(reservation.accept) %></p>
        </div><!-- col-lg-3 -->

        <% end %>
        
      </div><!-- row -->
    </div><!-- container -->

