<div style="font-family: 'Patrick Hand SC', cursive; font-size: 34px; color: #00193a;" align="center" align="center">Baffsup Privacy Policy</div><br /><br /><br>

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a;" align="center">Baffusp, provides instant connection to all persons involved with a particular occasion either as the Host or Guests at anytime and everywhere.<br /> Users can share invite others, share photos and commicate with one another in real time.<br /><br />
 Account Information:  Creatīng an account on Baffsup, requires you provide us with some personal information, such as your name, username, password, email addres.  These details and more forms your profile ẃhich in searchable as it is made public.</h2><br /><br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a;" align="center">Information Sharing and Disclosure
Your private personal information will be kept safe and private but for the limited scenario  described above.
User Authorization and instruction : All activities and information shall be authorized by you. </h2>

