<div style="font-family: 'Patrick Hand SC', cursive; font-size: 28px; color: #00193a;" align="center"> ABOUT THE SERVICE</div><br /><br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a;" align="center">Baffsup is a carefully crafted people's oriented solution to modestly respond to a cultural yearning and feel a gap in the proper management of our social engagements. It answers most of our inadequate traditional method of engaging in social activity, and also offers some flexibily with well thoughtout cool features.</h2><br />


<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a" align="center">Plan and manage your forthcomng events. party, ceremony, meeting or even get-together with Baffsup</h2><br />


<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a" align="center">Baffsup has provided some interesting ingredents to help with your everyday questions or challenges allowing you have the best experience with planning, managing, and even keeping records for posterity.</h2><br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a" align="center">Have you ever thought of having a digital equivalence of that very important occasion, if yes now you have it ! </h2><br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a" align="center">Planning - Creating invitation cards with occasion details, send invitation to guests and also request R S V P
Managing - Share pre-events photos, communicate with your guest in real-time and upload the occasion album after for everyone of guest to view.</h2> <br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a" align="center">ll of these are well arranged in your occasion catalog for access anywhere and anyyime.</h2></div>


                                 

