<div >


   <%= f.hidden_field :current_step, input_html: {value: f.object.current_step}  %>

   <%= render "parties/steps/page#{f.object.current_step + 1}", f: f %><br>



			<%= f.submit "Back", class: "btn btn-warning", name: "back_button" unless f.object.first_step? %>

			  <%= f.submit f.object.last_step? ? nil: "Next", class: "btn btn-primary" %>


</div>  





