 <div class="well well-sm" >

   

	  <div class="6u 12u$(xsmall)">

	      <div><label for="party-title"><span style="font-family: 'Averia+Serif+Libre', serif; font-size: 28px; font-weight: bold; color: black;">TITLE</span></label></div>
	       <%= f.input :title, placeholder: 'eg: John Bull Birthday Party.', label: false %>
	  </div>   
  <br /> 

	 <div class="6u 12u$(xsmall)" >

	   <div><label for="party-date"><span style="font-family: 'Averia+Serif+Libre', serif; font-size: 28px; font-weight: bold; color: black;">DATE & TIME</span></label></div>
	   <%= f.input :date, wrappers: :horizontal_select_date, as: :datetime, start_year: Date.today.year,
	                              end_year: Date.today.year + 12,
	                              order: [:day, :month, :year], label: false %>

	</div>


<br /> 

	 <div class="6u 12u$(xsmall)">

	   <div><label for="party-message"><span style="font-family: 'Averia+Serif+Libre', serif; font-size: 28px; font-weight: bold; color: black;">MESSAGE</span></label></div>
	 
	   <%= f.input :message, :input_html => { rows: 10}, label: false %>

	</div>

	

</div>



