 <div class="well well-sm" >

   

	  <div class="6u 12u$(xsmall)">

	      <div><label for="party-title"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;">TITLE</span></label></div>
	       <%= f.text_field :title, placeholder: 'eg: John Bull Birthday Party.' %>
	  </div>   
  <br /> 

   <div class="6u 12u$(xsmall)" >

	   <div><label for="party-date"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;">CHOOSE DATE </span></label></div>
	  

	   <%= f.text_field :date %>

	   


	</div>

	<br />

	<div class="6u 12u$(xsmall)" >

	  <div><label for="party-date"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;">CHOOSE TIME</span></label></div>
	  

         <%= f.text_field :time, class: "timepicker" %>
	   


	</div>

	<br />



	 <div class="6u 12u$(xsmall)">

	   <div><label for="party-message"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: black;">MESSAGE</span></label></div>
	 
	   <%= f.text_area :message, :input_html => { rows: 10} %>

	</div>

	

</div>



