<div class="well well-sm">
<div class="6u 12u$(xsmall)" >

<div><label for="party-venue"><span style="font-family: 'Averia+Serif+Libre', serif; font-size: 28px; font-weight: bold; color: black;">VENUE</span></label></div>						
   <%= f.input :venue, :label => 'VENUE', placeholder: 'Party Venue', label: false %>
 </div>

 <br />


	 <div class="6u 12u$(xsmall)" >

	   <div><label for="party-rsvp_by"><span style="font-family: 'Averia+Serif+Libre', serif; font-size: 28px; font-weight: bold; color: black;">RSVP BY</span></label></div>
	  <%= f.input :rsvp_by, :label => 'R S V P  BY', wrappers: :horizontal_select_date, as: :date, start_year: Date.today.year,
	                              end_year: Date.today.year + 12,
	                              order: [:day, :month, :year], label: false %>

	</div>

 </div>

