<div class="well well-sm">


	        <h3 style="font-family: 'Julius Sans One', sans-serif; font-size: 18px; color: #00193a;">Choose - Occasion Category</h3><br /><br />


    <fieldset>


          <div class="radio-inline">

			  <h3><label for="party-category-get_together"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">GET TOGETHER</span></label></h3>


					        
					<input type="radio" id="party-category-get_together" name="party[category]" value="GET TOGETHER" class="form-control input-sm" id="inputsm">

					
					
		    </div>


		    <div class="radio-inline">

	        <h3><label for="party-category-events"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;"> EVENTS</span></label></h3>

				    <input type="radio" id="party-category-events" name="party[category]" value="EVENTS" class="form-control input-sm" id="inputsm">
				    
		   </div>


		   <div class="radio-inline"> 

		     <h3><label for="party-category-ceremonies"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">CEREMONIES</span></label></h3>
				          
				    <input type="radio" id="party-category-ceremony" name="party[category]" value="CEREMONIES" class="form-control input-sm" id="inputsm">
				           
				    

			</div>

			<div class="radio-inline">

			         <h3><label for="party-category-parties"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">PARTIES</span></label></h3>
				
				    <input type="radio" id="party-category-party" name="party[category]" value="PARTY" class="form-control input-sm" id="inputsm">
				    
				    

		    </div>
		        
			
		    	<div class="radio-inline">

			    <h3><label for="party-category-other_occssion"><span style="font-family: 'Julius Sans One', sans-serif; font-size: 16px; font-weight: bold; color: #00193a;">OTHERS</span></label></h3>
					        
					<input type="radio" id="party-category-other_occassion" name="party[category]" value="OTHER_OCCASSIONS" class="form-control input-sm" id="inputsm">
					          
				    

		    </div>

		
		 
			 <br />
			 <br />
<br />


  <%= f.hidden_field :user_id, {value: current_user.id } %>


  </fieldset>

  </div>






