<div class="well well-sm">
<div class="6u 12u$(xsmall)" style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black">						
   <%= f.input :venue, :label => 'VENUE', placeholder: 'Party Venue' %>
 </div>

 <br />


	 <div class="6u 12u$(xsmall)" style="font-family: 'Handlee', serif; font-size: 23px; font-weight: bold; color: black">
	  <%= f.input :rsvp_by, :label => 'R S V P  BY', wrappers: :horizontal_select_date, as: :date, start_year: Date.today.year,
	                              end_year: Date.today.year + 12,
	                              order: [:day, :month, :year] %>

	</div>

 </div>

