<div class="container">
  <div class="row" style="margin-top: 50px;">
    <div class="col-lg-4 col-lg-offset-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style ="font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;">Upload Images</button>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" >Upload Multiple Images @ onces</h4>
      </div>
      <div class="modal-body">
       
        <%= form_tag '/catalogues', method: :post, class: 'dropzone form', id: 'media-dropzone' do %>

         <%= hidden_field_tag :party_id, @party.id %>

         <%= hidden_field_tag :user_id, @party.user.id %>

          <div class="fallback" style="font-family: 'Handlee', serif; font-size: 18px; font-weight: bold;">

            <%= file_field_tag 'catalogue', multiple: true %>


     
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


