

<div style="font-family: 'Patrick Hand SC', cursive; font-size: 34px; color: #00193a;" align="center" align="center">Terms & Conditions</div><br /><br /><br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a;" align="center">Privacy<br /><br />Our Privacy Policy (https://www.baffsup.com/privacies/1) gives details of how we handle the information you
provide to us when you use our Service.</h2><br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a;" align="center">Who may use the service<br /><br />
The Service is for you,  if you agree to the contract with Baffsup, and also have the legal right of recieving services under the law. i.e Not in prison, or beign held by law enforcement agencies, or even persons, organizations and institution that has been barred by law.<br /><br />
You have to be of legal age of 15years and above.</h2><br />

<h2 style="font-family: 'Montserrat', cursive; font-size: 24px; color: #00193a;" align="center">The ​Content​ you provide<br /><br />
It is  your responsibility to use of the Service only in legal wäy and not provide Content that inappropriate or even illegal contents.<br />
Limit yourself to Content that you are  comfortable sharing with others. Any content you either view or share, would not be endorsed by us. <br />
No use of  offensive, harmful, inaccurate ,  inappropriate and deceptive content.</h2>








